body {
    margin:0;
    background-color: #E3F6FF;
    text-align: center;
    font-family: "Merriweather";
}
hr {
    border-style:none;
    border-top-style: dotted;
    border-color: #FFEA20;
    border-width:10px;
    width: 30%;
    margin: 50px auto;
}

p {
    color: #0081C9;
    font-size: 1rem;
    line-height: 2;
}


h1 {
    color:#0081C9;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento';
    font-size: 562.5%;
    line-height: 2;
}
h2 {
    color:#9DF1DF;
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: normal;
}
h3 {
    color:#8DCBE6;
    font-family: 'Montserrat';
}

a {
    color: #8DCBE6;
    font-family: 'Montserrat';
    margin:10px 20px;
    text-decoration: none;
}

a:hover{
    color:#3cb0fd;
}

div {
    background-color: #E3F6FF;
}

.middle-container{
    margin: 100px 0;
}

.top-container{
    position: relative;
    padding-top: 100px;
}

.bottom-container{
    background-color:#FFEA20 ;
    padding: 50px 0 20px;
}

.bass {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    
}

.bottom-cloud{
    position: absolute;
    left: 300px ;
    bottom: 300px;
}

.xiaogou{
    width:25%;
}

.intro{
    width: 30%;
    margin: auto ;
}

.tulip{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.forest-1{
    width:25%;
    float: right;
    margin-left: 30px;
}

.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 20px;
    background: #8DCBE6;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }




